.introduction {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 800px;
    height: 400px;
    background-color: #fff;
    justify-self: center;
    align-self: center;
    margin: 4rem 0;
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);

    @media only screen and (max-width:$bp-large){
        width: 500px;
        height: 333px;    
       }
    @media only screen and (max-width:$bp-small){
        grid-row: 2/3;
        justify-content: center;
        width: 400px;
        height: 400px;
        flex-direction: column;
        
       }

       & a{
           display: inline;
           text-decoration: none;
           color: $color-blue;
           cursor: pointer;
       }
    
    &__img {
        // width: 17vw;
        width: 230px;
        // height: 17vw;
        height: 230px;
        background-color: $color-blue;
        padding: 20px;
        align-self: center;
        justify-self: flex-end;
        margin-bottom: 2rem;
        border-radius: 3px;
        box-shadow: 3px 3px 3px rgba(0,0,0, 0.4);

        @media only screen and (max-width:$bp-large){
           width: 150px;
           height: 150px;
           margin-right: 2rem;
        
           }

        // @media only screen and (max-width:$bp-small){
        //     display: none;
        //    }

        & img {
            width: 100%;
            height:100%;
        }
    }

    &__text{
        width: 60%;

        @media only screen and (max-width:$bp-small){
            width: 90%;
            margin-top: 2rem;
            }

    }

    &__text p{
        font-size: 2rem;
        line-height: 2.8rem;
        font-weight: 200;

        @media only screen and (max-width:$bp-small){
           font-size: 1.6rem;
           line-height: 2.2rem;
           }
        @media only screen and (max-width:$bp-smallest){
           font-size: 2.2rem;
           line-height: 2.6rem;
           }

    }
}

.links {
    margin-top: 3rem;
}

.card {
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
}