.wrapper {
    width: 90vw;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: $color-light-grey;
    margin: 0 auto;
    grid-template-rows:1fr 1.5fr 1fr;
  
    @media only screen and (max-width:$bp-large){
      grid-template-rows: 1fr 1.2fr 1fr;
    }
    @media only screen and (max-width:$bp-medium){
      grid-template-rows: 1fr .8fr 1fr;
    }
  }