.card-wrapper {
    grid-row: 2/3;
    align-self: start;
    justify-self: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.overlay {
    position: relative;
  margin-top: 3rem;
    width: 800px;
    height: 500px;
    transform: all 5s ease;
    // border-radius: 8px;
    // background: rgba(0,0,0, .9);
    // z-index:5;
}

.overlay .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    transform: all 5s ease;
    
}

.overlay:hover .after {
    display: block;
    background: rgba(0,0,0, .4);
    transform: all 5s ease;
}

.image-art {
    height: 100%;
    width: 100%;
}

.image-text {
            position: absolute;
            font-size: 6rem;
            text-align: center;
            width: 60%;
            height: 30%;
            color:white;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            display: none;
            transition: all .2s ease;
            z-index: 2000;
            
    }
        
    .overlay:hover .image-text {
        display: block;
    }


@media only screen and (max-width:800px) {
    .overlay {
        width: 400px;
        height: 250px;
    }

    .image-text {
        width: 300;
        height: 150;
        font-size: 3rem;
    }
}