*,
*::after,
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1rem = 10px; 10px/16px default = 62.5%;

  @media only screen and (max-width:$bp-large) {
    font-size: 50%;
  }
  
  @media only screen and (max-width:$bp-smallest){
   font-size: 40%;
  }
}

body {
  padding: 0;
  margin: 0;
  background-color: $color-light-grey;

  @media only screen and (max-width:$bp-large){
    background-color: #fff;
   }
 }


.content {
  width: 90%;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  margin: 0 auto;
  grid-template-rows: 1
  3fr 3fr 3fr;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  @media only screen and (max-width:$bp-medium){
    grid-template-rows: 2fr 2fr 2fr;
  }
}